<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
</head>

<body>
    <h1>Appointment List</h1>
    {% for appointment in object_list %}
    <h2>{{appointment.first_name}}</h2>
    <p>Time of lesson: {{appointment.date_and_time}}</p>
    <p>Meeting point: {{appointment.meeting_point}}</p>
    <p>Created on: {{appointment.created_on}}</p>
    {% endfor %}
</body>

</html>